@charset "utf-8";

@font-face {
    font-family: 'masqueicou';
    src: url(fontescomemorativas/Avalon.ttf) format('truetype'), url(fontescomemorativas/AvalonSquare.ttf) format('truetype');
}

h1 {
    font-family: 'exotic', sans-serif;
    font-style: italic;
    font-size: 3em;
    font-weight: bolder;
}

