@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*height: 100%;*/
}

body{
    background-image:radial-gradient(circle, #292929, #000000) ;
}

main{
    background-color: white;
    width: 800px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #797878;
}

h1{
    color: #0013C2;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(73, 71, 216);
}

h2{
    color: #4A5BF7;
}

p{
    text-align: justify;
}